---
import Layout from "../layouts/Layout.astro";
---
<Layout title={"about"}>
    <main class="flex flex-col space-y-8">
	<section class="flex flex-col space-y-6">
	    <p>Under Construction</p>
	</section>
    </main>
</Layout>
