---
import Layout from "../layouts/Layout.astro";
---
<Layout title={"about"}>
    <main>
	<section class="flex flex-col space-y-6">
	    <div>
		<p>
		    Though I like to fancy myself a DevOps engineer, I've been fortunate enough to experience many roles and positions since 2017, giving me a greater perspective on the issues that can arise trying to use tech to optimize work. Through my time at The MET, Hermes, Accenture, and more, I've strengthened my skills in problem solving through code, architecture, and communication; allowing for the development of tools and methodologies that make that work at least 1% easier for all.
		</p>
	    </div>
	</section>
    </main>
</Layout>
