---
import Layout from "../layouts/Layout.astro"

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<Layout title={"blog"}>
    <main class="flex flex-col space-y-8">
	<section class="flex flex-col space-y-2">
	    <h2 class="text-ef-green">Archive</h2>
	    <ul>
		{allPosts.map((post: any) => <li><a href={post.url} class="underline hover:text-ef-red">{post.frontmatter.title}</a></li>)}
	    </ul>
	</section>
    </main>
</Layout>
