---
import Layout from "../layouts/Layout.astro"

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<Layout title={"blog"}>
    <main>
	<section>
	    <ul>
		{allPosts.map((post: any) => <li><a href={post.url} class="text-base font-semibold text-ef-aqua">{post.frontmatter.title}</a></li>)}
	    </ul>
	</section>
    </main>
</Layout>
