---
import Layout from "../layouts/Layout.astro"
---
<Layout title={"blog"}>
    <main>
	<section>
	    <ul>
		<li><a href="/posts/dive-to-the-heart/">Dive To The Heart</a></li>
	    </ul>
	</section>
    </main>
</Layout>
