---
import Layout from "../layouts/Layout.astro"
---
<Layout title={"splashpage"}>
    <main>
	<section>
	    <p>
		I'm a DevOps Engineer building simpler, seamless workflows for devs and users alike. I fell in love with tech and its endless possibilities as early as I can remember, and I strive to make it easier for others to fall in love with it, too.
	    </p>
	</section>
    </main>
</Layout>
