---
import Layout from "../layouts/Layout.astro"

const job = "N/A";
const employed = false
const currGame = "Digimon Story: Time Stranger"
---
<Layout title={"splashpage"}>
    <main class="flex flex-col space-y-8">
	<section class="flex flex-col space-y-3 text-pretty">
	    <p>
		I'm a DevOps Engineer building simpler, seamless workflows for all.
	    </p>
	    <p>
		Since 2017, I've worn a lot of hats, from Systems Administator to Software Developer, and over the years I've garnered a fondness for tools that just work for you. 
	    </p>
	    <p>
		I strive to make technology smoother and intuitive at every step, supporting peers and clients alike in the hopes of fostering that same fondness for good tools, too.
	    </p>
	</section>
	<section class="flex flex-col space-y-6">
	    <h2 class="font-semibold text-ef-aqua text-base">Currently</h2>
	    <ul class="list-disc list-inside"> 
		{ employed ? 
		    <li>working at {job}!</li> 
		    : <li>Looking for work in DevOps and IT roles (pls hire me)</li>
		}
		<li>Playing through my gaming backlog [now playing: {currGame}]</li>
		<li>Reading <span class="underline">The Pragmatic Programmer</span> by Dave Thomas and Andy Hunt</li>
		<li>Practicing recipes to host dinner parties and get-togethers</li>
		<li>Tinkering with my homelab environment to access my data anywhere</li>
	    </ul>
	    <h2 class="font-semibold text-ef-aqua text-base">Previously</h2>
	    <ul class="list-disc list-inside">
		<li>Led user requirement gathering and refining for a custom medical coding software solution with <a href="https://www.accenture.com/us-en" target="_blank" class="text-ef-purple hover:text-ef-red">Accenture</a> for a leading pharmaceutical company</li>
		<li>Developed and maintained CI/CD pipelines with <a href="https://www.accenture.com/us-en" target="_blank" class="text-ef-purple hover:text-ef-red">Accenture</a> for the business insurance work stream of a leading insurance company</li>
		<li>Spearheaded remote data center integrations with on-prem hardware at <a href="https://www.hermes.com/us/en/" target="_blank" class="text-ef-purple hover:text-ef-red">Hermes of Paris USA</a></li>
		<li>Researched archive architectural budget spending data for new exhibit budget projections at <a href="https://www.metmuseum.org/" target="_blank" class="text-ef-purple hover:text-ef-red">The Metropolitan Museum of Art</a></li>
	    </ul>
	</section>
	<section>
	   <a href="/enrique_javier_resume.pdf" class="underline hover:text-ef-red">Download Resume (PDF)</a>
	</section>
    </main>
</Layout>
