---
const pageTitle = "splashpage"
---

<html lang="en">
    <head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} >
	<title>{pageTitle}</title>
    </head>
    <body>
	<section>
	    <a href="/">home</a>
	    <a href="/about">about</a>
	    <a href="/blog">blog</a>
	</section>
	<section>
	    <h1>Enrique Javier</h1>
	    <p>
		I'm a DevOps Engineer dedicated to making tech simple and seamless.
	    </p>
	</section>
    </body>
