---

---
<section class="">
    <div class="flex flex-row justify-between py-20 text-xs">
	<div>
	    <p>&copy; 2025</p>
	</div>
	<div class="">
	    <a href="mailto:emjavier16@proton.me" target="_blank" class="underline hover:text-ef-red">Email</a>
	    <a href="https://github.com/usefulsplash" target="_blank" rel="noreferrer noopener" class="underline hover:text-ef-red">GitHub</a>
	    <a href="https://twitter.com/emjavier16" target="_blank" rel="noreferrer noopener" class="underline hover:text-ef-red">Twitter</a>
	</div>
    </div>
</section>
