---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;

const dateOptions: object = {
    month: "short",
    day: "numeric",
    year: "numeric",
};

const formattedPublishDate = new Date(frontmatter.pubDate).toLocaleDateString("en-US", dateOptions);
---
<Layout title={frontmatter.title}>
    <meta charset="utf-8" />
    <section class="flex flex-col space-y-3">
	<h1 class="text-ef-aqua font-bold text-base">{frontmatter.title}</h1>
	<p class="text-ef-orange font-extralight">{formattedPublishDate}</p>
	<slot />
    </section>
</Layout>

